$mainColor: rgba(230,218,206,1);

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: fixed;
    bottom: 0;
    box-shadow: -1px 0 5px $mainColor;
    .footer__left {
        min-width: 450px;
    }
    .footer__right {
        display: flex;
        justify-content: space-around;
        align-items: center;

        div {
            padding: 20px;
            p {
                white-space: nowrap;
            }
        }
        .footer__info--header {
            text-align: center;
            font-weight: bold;
        }
    }
}