$mainColor: rgba(230,218,206,1);

.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    font-size: 1.5rem;
    box-shadow: 10px 0 10px $mainColor;
    .navbar__container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100px;
        margin: 0 auto;
        padding: 0 50px;
    }
    a {
        text-decoration: none;
        color: #000000;
        white-space: nowrap;
    }
    .navbar__logo {
        display: flex;
        align-items: center;
        min-width: 450px;
        .navbar__name {
            font-weight: bold;
            font-size: 1.8rem;
            padding-bottom: 5px;
        }
        .navbar__jobtitle {
            line-height: 1.5;
        }
    }

    .navbar__menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1rem;
        .navbar__item {
            list-style: none;
            margin: 0 10px;
        }
        .navbar__link:hover {
            color: $mainColor;
        }
    }
}